atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/compile-cache
atom.symlink/.apm
atom.symlink/blob-store

git/gitconfig.symlink

fish.configlink/fish_history
fish.configlink/fishd.*
fish.configlink/functions
